build
.vscode
.idea
.venv
__pycache__
tools/install_dependency/src/component
devkitdependencies

component/DevKitTester/devkit_tester/config/log.ini
component/DevKitTester/devkit_tester/config/devkit_distribute.yaml
component/DevKitTester/JFRParser/.idea
component/DevKitTester/JFRParser/.gitignore
component/DevKitTester/JFRParser/target