        {
          "level": "${severityLevel}",
          "uri": "${uri}",
          "startColumn": ${column},
          "startLine": ${line},
          "message": "${message}",
          "ruleId": "${ruleId}"
        }