<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.ic.openlab.cloudtest.dao.CloudDevUseRecordDao">
    <select id="getRecordById" resultType="java.lang.String">
        SELECT TASK_DEVICE_ID
        FROM
        CLOUD_DEV_USE_RECORD
        WHERE TASK_DEVICE_ID = #{taskDeviceId}
        AND KP_TOKEN = #{kpToken}

    </select>

    <insert id="insertRecord">
        INSERT INTO CLOUD_DEV_USE_RECORD(
        REQUEST_TIME,
        TASK_DEVICE_ID,
        KP_TOKEN
        )VALUE(
        #{requestTime},
        #{taskDeviceId},
        #{kpToken}
        )
    </insert>
</mapper>